#top {
    top: 0;
    box-shadow: 2px 0 2px 2px #777;
}
#header {
    padding-top: 4.5px;
    padding-bottom: 3.5px;
}
#logotip {
    color: #0095b6;
    margin-left: 22px;
    font-size: 24px;
    font-family: "Oswald";
    font-weight: bold, bold, bold;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}